.recent-books{

}

.download-book-item-option-list{
    transition:cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s ease-in;
    position: relative;
    align-items: center;
    left: 28px;
    top: -23px;
    width: 26px;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.download-book-icon{
    align-items: center;
    height: 25px;
    width: 25px;
    position: relative;
    display: block;
    z-index: 1;
    top:32px;
    left: 213px;
}

/* .download-book-icon:hover{
    position: relative;
    display: block;
    z-index: 1;
    top: 5px;
    left: 60%;
    transition: all ease 0.5s;
    border-radius: 10px;
} */


.recent-books-container{
    position: absolute;
    display: block;
    height:calc(100% - 40px);
    top: 40px;
    width: calc(100% - 70px);
}

.book-item{
    position: relative;

}
   

