.main-login {
    position: absolute;
    top: 45%;
    left:50%;
    margin: 0px;
    transform: translate(-50%,-50%);
    border: 1px solid #001529;
    padding: 40px 10px 10px 10px;
    border-radius: 15px 50px 30px;
    background-color: #001529;
}