.main-login {
    height: 240px;
    width: 270px;
    position: fixed;
    top: 45%;
    left:50%;
    margin: 0px;
    transform: translate(-50%,-50%);
    border: 1px solid #001529;
    padding: 40px 10px 10px 10px;
    border-radius: 15px ;
    background-color: #001529   ;
    opacity:1;
    align-items: center;
    z-index: 1;
    animation: login-form 1s;
}

.main-signup {
    height: 240px;
    width: 270px;
    position: fixed;
    top: 45%;
    left:50%;
    margin: 0px;
    transform: translate(-50%,-50%);
    border: 1px solid #291400;
    padding: 40px 10px 10px 10px;
    border-radius: 15px ;
    background-color: #291400   ;
    opacity:1;
    align-items: center;
    z-index: 1;
    animation: signup-form 1s;

}

.global-alert{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    border-radius: 0%;
}

.toggle-login-options{
   position: relative;
}

.signup-notification{
    color: white;
    padding-left: 20px;
    position: relative;
    top: -10px;
}


.login-logo-icon{
    padding-left: 12px;
    padding-bottom: 5px;
}

.login-form-headline{

    position: absolute;
    top: 10%;
    left: 40%;
    color: wheat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #15334e;
}

@keyframes signup-form {
    0% {
        background-color: #001529;
      }
      100% {
        background-color: #291400;
      }
}

@keyframes login-form {
    0% {
        background-color: #291400;
      }
      100% {
        background-color: #001529;
      }
}